# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# IDE
.idea/
.vscode/

# Temp / logs
*.log
*.tmp
temp/

# Project specific
*.xlsx
*.xls
*.pptx
*.db
.coverage

# Windows reserved names
nul
"dist/" 
"build/" 
"*.exe" 
"*.pkg" 
"__pycache__/" 
